@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-400;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  @apply bg-primary-900 transition-colors duration-300 dark:bg-secondary-900;
}

.swiper-slide {
  width: auto !important;
}

.navigation .router-link-active {
  @apply bg-tertiary-700 hover:bg-tertiary-700;
}

.slide {
  @apply relative hidden items-center lg:flex;
}

.slide input {
  @apply absolute z-30 w-full cursor-pointer appearance-none bg-transparent;
}

.slide input::-webkit-slider-thumb {
  @apply h-4 w-4 appearance-none rounded-full border-none bg-secondary-900 outline-none transition-colors duration-300 dark:bg-primary-900;
}

.slide progress {
  @apply absolute h-2 w-full appearance-none overflow-hidden rounded-full;
}

.slide progress::-webkit-progress-bar {
  @apply bg-secondary-900/30 transition-colors duration-300 dark:bg-primary-900/30;
}

.slide progress::-webkit-progress-value {
  @apply bg-secondary-900 transition-colors duration-300 dark:bg-primary-900;
}

.card {
  @apply mr-3 mb-3 h-52 w-36 cursor-pointer select-none rounded-xl bg-primary-800 transition duration-300 hover:bg-primary-700 dark:bg-secondary-800 dark:hover:bg-secondary-700  lg:mb-5 lg:mr-5 lg:h-72 lg:w-56;
}

.card-title {
  @apply mt-3 overflow-hidden text-ellipsis whitespace-nowrap font-Quicksand text-sm font-medium text-secondary-900 transition duration-300 dark:text-primary-900 lg:text-base;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
